.header__top {
    background: $cor01;
    padding: 10px 0;
    @media(max-width: 991px) {
        padding: 0;

        .header__container {
            padding: 0;
        }
    }

 

    &--left, &--right{
        color: $cor02;
        font-size: 13px;
        font-weight: 500;
        margin: 0 60px;
        text-transform: uppercase;

        @media(max-width: 991px) {
            text-align: center;
            margin: 5px 0;
        }
    }
}

