.Mapa, .Seguro, .tray-hide {
  display: none !important;
}

.blocoAlerta {
  color: #e72121;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.ruler {
  display: block;
  margin: 20px 0;
}

// tables
table {
  tr {
      border-bottom: $border;

      th:first-child,
      td:first-child {
          padding-left: 0;
      }
  }

  th {
      font-weight: 500;
      font-size: 14px;
  }

  th, td {
      padding: 8px;
      background: #FFF;
  }

  @media (max-width: 767px) {
      p {
          font-weight: 500;
          margin: 10px 0;
          text-align: center;
          text-transform: uppercase;
      }

      tr {
          display: block;
          margin: 10px 0;
          width: 100%;
      }

      td {
          display: block;
          padding: 14px;
          text-align: center;
          width: 100%;

          // &:before {
          //   content: attr(data-table-title);
          // }
      }
  }

  p {
      margin: 5px 0;
  }
}
// end tables

.quickview__images--more{
    .slick-arrow {
        align-items: center;
        background: none;
        border: none;
        display: flex;
        height: 50px;
        justify-content: center;
        padding: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        z-index: 10;
      
        @media(min-width: 992px) {
            &:hover {
                svg {
                    fill: $cor01;
                }
            }
        }
      
        svg {
            fill: $light-gray;
            height: 28px;
            width: 15px;
        }
    }
}

// slick buttons
.slick-arrow {
  align-items: center;
  background: none;
  border: none;
  display: flex;
  height: 50px;
  justify-content: center;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  z-index: 10;

  @media(max-width: 991px) {
      top: 43%;
  }

  @media(min-width: 992px) {
      &:hover {
          svg {
              fill: $cor01;
          }
      }
  }

  svg {
      fill: $light-gray;
      height: 28px;
      width: 15px;
  }
}

.slick-next {
  justify-content: flex-end;
  right: 0;
}

.slick-prev {
  justify-content: flex-start;
  left: 0;
}

.slick-vertical {
  .slick-arrow {
      justify-content: center;
      position: static;
      transform: translate(0);
      width: 100%;

      svg {
          transform: rotate(90deg);
      }
  }
}
// end slick buttons

// slick pagination
.slick-dots {
  align-items: center;
  bottom: 10px;
  display: flex !important;
  justify-content: center;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  z-index: 100;

  > li {
      align-items: center;
      display: flex;
      height: 12px;
      justify-content: center;
      margin-left: 10px;
      width: 12px;

      button {
          background: white;
          height: 13px;
          width: 13px;
      }

      &.slick-active {
          button {
              background: $dark-gray;
          }
      }
  }

  button {
      background: $cor01;
      border: none;
      border-radius: 50%;
      display: inline-block;
      height: 8px;
      font-size: 0;
      padding: 0;
      width: 8px;
  }
}
// end slick pagination

// select style
.SumoSelect {
  width: auto;

  label {
      margin: 0;
  }

  > .CaptionCont {
      background: white !important;
      border: $border;
      border-radius: $border-radius;
      box-shadow: none;
      height: 30px;
      min-height: 30px;
      text-align: left;

      > label {
          > i {
              background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAFBAMAAACKv7BmAAAAJ1BMVEUiIiIjIyMjIyMjIyMjIyMjIyMjIyMmJiYoKCgpKSkpKSkrKytMaXGp0QROAAAADXRSTlPZbnaFitbcGxMZHxgAva5iVQAAACFJREFUeNpjWaTF4MfyeFWFHYtb3ZMcFsbijwYsDKEfGQBrDQhhvGXvAAAAAABJRU5ErkJggg==');
          }
      }
  }

  .SelectBox {
      min-width: auto;
      padding: 0;
      // max-width: 166px;
      width: auto;

      > span {
          border-radius: $border-radius;
          color: $medium-gray;
          display: block;
          font-size: 13px;
          font-weight: 400;
          line-height: 28px !important;
          padding: 0 25px 0 8px;
          text-transform: none;
      }
  }

  &.open {
      > .optWrapper {
          background: white !important;
          border: $border;
          border-radius: $border-radius;
          box-shadow: $box-shadow;
          min-width: 100%;
          top: 100%;
          width: auto;

          > .options li.opt {
              border: none;
              
              label {
                  color: $medium-gray;
                  display: block;
                  font-size: 13px;
                  font-weight: 400;
                  line-height: 1.2;
                  text-transform: none;
              }
          }
      }
  }

  &:focus, &:hover, &.open {
      > .CaptionCont {
          background: white !important;
          border: $border;
          box-shadow: none;
      }
  }
}
// end select style

// instagram
.instagram {
    &__wrapper {
        margin: 40px 0 0;
        padding: 0;
        width: 100%;

        @media(min-width: 768px) {
            img {
                border-radius: $border-radius;
            }
        }

        @media(max-width: 1199px) {
            margin-top: 20px;
        }
    }

    &__text{
        color: #000;
        font-size: 16px;
    }

    &__container {
        margin: 0 auto;
        padding: 25px 0 50px;
        max-width: 100%;
        text-align: center;
        width: 100%;

        @media(max-width: 1199px) {
            padding-top: 20px;
        }
    }

    &-imagens{
        padding: 50px 0;
    }

    &__title{
        text-align: center;
    }

    &__link {
        color: $cor03;
        display: block;
        font-size: 19px;
        font-weight: 600;
        line-height: 1;
        margin: 0;

        &:hover {
            color: $cor01;
        }
    }

    &__icon {
        fill: $cor03;
        height: 28px;
        margin-right: 5px;
        width: 28px;
    }
}
// end instagram

// plugin instagram
.row.no-gutter {
    margin-left: 0;
    margin-right: 0;

    [class*='col-'] {
        &:not(:first-child),
        &:not(:last-child) {
            padding-right: 0;
            padding-left: 0;
        }
    }
}

.instafeed__icon {
    fill: $cor02;
    height: 30px;
    margin-right: 3px;
    width: 30px;
}

.img-featured-container {
    margin: 0 5px;
    overflow: hidden;
    position: relative;

    &:hover {
        .description-container,
        .img-backdrop {
            opacity: 1;
        }
    }

    a {
        border-radius: $border-radius;
        display: block;
        max-height: 250px;
        max-width: 250px;
    }

    img {
        width: 100%;
    }

    .img-backdrop {
        background: rgba(0, 0, 0, .8);
        border-radius: $border-radius;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        opacity: 0;
        transition: all 0.3s ease;
    }

    .description-container {
        color: white;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.2;
        padding: 0 30px;
        text-align: center;
        line-height: 20px;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform-style: preserve-3d;
        z-index: 2;
        opacity: 0;
        transition: all .2s ease;

        @media(max-width: 639px) {
            padding: 0 15px;
        }
        
        .fa-instagram {
            font-size: 40px;
        }
        
        p {
            font-weight: 300;
            margin-bottom: 0;
        }
        
        .caption {
            display: none;
            margin-bottom: 10px;

            @media screen and (min-width:768px) {
                display: block;
            }
        }
        
        .likes,
        .comments {
            margin: 0 5px;
        }
    }
}

#btn-instafeed-load {
    color: white;
    background: $cor01;
    margin: 20px auto;
    padding: 8px 12px;
    display: block;
    border: none;
}
// end plugin instagram


